{% extends 'core/base.html' %}
{% load static %}
{% block nav %}
<a href="{% url 'index' %}" class="nav-item nav-link ">Inicio</a>
<a href="{% url 'team' %}" class="nav-item nav-link ">Productos</a>
{% if user.is_authenticated and user.username == 'admin' %}
<a href="{% url 'add' %}" class="nav-item nav-link">Agregar Productos</a>
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'Carrito' %}" class=" nav-item nav-link active"><i class="fa fa-shopping-cart "></i></a>
{% else %}
<a onclick="NoIniciado()" class=" nav-item nav-link"><i class="fa fa-shopping-cart "></i></a>
{% endif %}
{% endblock %}


{% block contenido %}


<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Carrito</h1>
    </div>
</div>
<div class="container">
    <div class="row g-3">
{% for aux in listaCarrito %}



<div class="col-lg-4 col-md-6" >
    <div class="card" style="height: 500px;">
            <div class="rounded-circle overflow-hidden m-4">
                {% if aux.imagen %}
                <img class=" img" style="width: 320px;" src="{{ aux.imagen.url }}" alt="Colorlib Template">
                {% else %}
                <img class="img" style="width: 320px;" src="{% static 'core/img/id.jpg '%}" alt="">
                {% endif %}

            </div>
            <div class="card-body">
                <h4 class="mb-0">{{ aux.Nombre }}</h4>

                

                <a class="mb-0">${{ aux.precio }}</a>

            </div>
            
            <a onclick="eliminarCarro({{ aux.id }})" class="btn btn-primary">ELIMINAR</a>

    </div>
    </div>

    {% empty %}
    <div class="col-lg-12 text-center">
    <p>No se encontraron elementos en el carrito.</p>
    </div>
{% endfor %}
{% include 'core/paginator.html' %}
</div>
</div>
<br>
<div class="col-lg-6">
    <div class="pagar-item">
        <h3>Total Carrito : ${{ total_precio }}</h3>

        
        {% if listaCarrito %}
        <form method="POST" action=""  ><a href=" {% url 'Pagar' %} " class="btn btn-primary py-sm-3 px-sm-5 me-3">Información de pago</a></form>
        {% else %}
        <form method="POST" action=""  ><a onclick="NoCarrito()" class="btn btn-primary py-sm-3 px-sm-5 me-3">Información de pago</a></form>

        {% endif %}
    </div>
</div>
<!-- Menu Start -->

<!-- Menu End -->

{% endblock %}