{% extends 'core/base.html' %}
{% load static %}
{% block nav %}
<a href="{% url 'index' %}" class="nav-item nav-link ">Inicio</a>
<a href="{% url 'team' %}" class="nav-item nav-link ">TALLERES</a>
{% for group in user.groups.all %}
        {% if group.name == 'cliente' %}
<!--a href="{% url 'historial' %}" class="nav-item nav-link">Historial de compra</a-->
        {% endif %}
    {% endfor %}
{% for group in user.groups.all %}
    {% if group.name == 'vendedor' %}
<a href="{% url 'add' %}" class="nav-item nav-link">Administracion</a>
    {% endif %}
{% endfor %}
{% if user.is_authenticated %}
<a href="{% url 'Carrito' %}" class=" nav-item nav-link active"><!--i class="fa fa-shopping-cart "></i--> POSTULACIONES</a>
{% else %}
<a onclick="NoIniciado()" class=" nav-item nav-link"><i class="fa fa-shopping-cart "></i></a>
{% endif %}
{% endblock %}


{% block contenido %}


<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">POSTULACIONES</h1>
    </div>
</div>
<div class="container">
    <div class="row g-3">
   <!-- h3>Aplicando descuento de : {{ descuento }}%</p></h3-->
{% for item in items %}
    <div class="col-lg-4 col-md-6">
        <div class="card" style="height: 500px;">
            <div class="rounded-circle overflow-hidden m-4">
                {% if item.producto.imagen %}
                <img class="img" style="width: 320px;" src="{{ item.producto.imagen.url }}" alt="Colorlib Template">
                {% else %}
                <img class="img" style="width: 320px;" src="{% static 'core/img/id.jpg' %}" alt="">
                {% endif %}
            </div>
            <div class="card-body">
                <h4>{{ item.producto.Nombre }}</h4>
                
                <form method="POST" action="{% url 'actualizar_carrito' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <div class="form-group">
                    </div>
            
                </form>
            </div>       
         </div>
    </div>
{% empty %}
    <div class="col-lg-12 text-center">
        <p>No se encontraron elementos en el carrito.</p>
    </div>
{% endfor %}
{% include 'core/paginator.html' %}
</div>
</div>
<br>
<div class="col-lg-6">
    <div class="pagar-item">
        
        
        {% if items %}
        {% else %}
        <form method="POST" action=""  ><a onclick="NoCarrito()" class="btn btn-primary py-sm-3 px-sm-5 me-3">Información de pago</a></form>

        {% endif %}
    </div>
</div>
{% endblock %}