{% extends 'core/base.html' %}
{% load static %}
{% block nav %}
<a href="{% url 'index' %}" class="nav-item nav-link active">Inicio</a>
<a href="{% url 'team' %}" class="nav-item nav-link">Talleres</a>
{% for group in user.groups.all %}
        {% if group.name == 'cliente' %}
<!--a href="{% url 'historial' %}" class="nav-item nav-link">Historial de compra</a-->
        {% endif %}
    {% endfor %}
    {% for group in user.groups.all %}
        {% if group.name == 'vendedor' %}
<a href="{% url 'add' %}" class="nav-item nav-link">Administracion</a>
        {% endif %}
    {% endfor %}
{% if user.is_authenticated %}
<a href="{% url 'Carrito' %}" class=" nav-item nav-link"><!--i class="fa fa-shopping-cart "></i--> POSTULACIONES</a>
{% else %}
<a onclick="NoIniciado()" class=" nav-item nav-link"><i class="fa fa-shopping-cart "></i></a>
{% endif %}

{% endblock %}

{% block contenido %}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Municipalidad Linda</h1>
                <h2 class="text-white animated slideInLeft">Para Adultos Mayores</h2>

                <p class="text-white animated slideInLeft mb-4 pb-2"></p>
                <a href=" {% url 'team' %} " class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Nuestros
                    Talleres </a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="{% static 'core/img/hueso_icon.png '%}" alt="">
            </div>
        </div>
    </div>
</div>
<!--  Hero End -->



<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                            src="{% static 'core/img/perrofeliz1.jpg '%}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                            src="{% static 'core/img/perrofeliz2.png '%}" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                            src="{% static 'core/img/perrofeliz3.jpg '%}">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                            src="{% static 'core/img/perrofeliz4.jpg '%}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Perros</h5>
                <h1 class="mb-4">Bienvenido a <i></i>Talleres Municipalidad</h1>
                <p class="mb-4">Aquí podrás encontrar tus talleres favoritos por parte de la municipalidad para los Adultos mayores como tú       </p>

                <!-- div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">10</h1>
                            <div class="ps-4">
                                <p class="mb-0">Total de</p>
                                <h6 class="text-uppercase mb-0">Perri-colaboradores</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0">Total de</p>
                                <h6 class="text-uppercase mb-0">PerriPapitos ayudados</h6>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- prodiuctos populares-->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Talleres</h5>
            <h1 class="mb-5">Talleres Populares</h1>
        </div>
        <div class="row g-3">

            {% for aux in listado %}

            {% if aux.Stock > 0 %}

            <div class="col-lg-4 col-md-6 fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        {% if aux.imagen %}
                        <img class="img-fluid" src="{{ aux.imagen.url }}" alt="Colorlib Template">
                        {% else %}
                        <img class="img-fluid" src="{% static 'core/img/id.jpg '%}" alt="">
                        {% endif %}
                    </div>
                    <h5 class="mb-0">{{ aux.Nombre }}</h5>
                    <!-- p>Stock: {{ aux.Stock }}</p-->
                    <!-- small>${{ aux.precio }}</small-->
                    <!--<a href="" onclick="eliminarProducto({{ aux.id }})" "{% url 'delete' aux.id %}","{% url 'update' aux.id %}"-->
                    <div class="d-flex justify-content-center mt-3">
                        {% for group in user.groups.all %}
                            {% if group.name == 'vendedor' %}
                        <a class="btn btn-square btn-primary mx-3" 
                            onclick="deleteProducto({{ aux.id }})"><i class="fas fa-trash"></i></a>
                        <a class="btn btn-square btn-primary mx-3" href="{% url 'update' aux.id %}"
                            onclick="update-product({{ aux.id }})"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                        {% endfor %}
                        <script>
                            function mostrarSweetAlert() {
                                Swal.fire({
                                    title: '¡Hola!',
                                    text: 'Este es un mensaje de SweetAlert',
                                    icon: 'success',
                                    confirmButtonText: 'Aceptar'
                                });
                            }
                        </script>
                        
                        <form action="{% url 'agregar_al_carrito' aux.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="producto_id" value="{{ aux.id }}">
                            <input type="hidden" name="items" value="1">
                            <input type="hidden" name="nombre_producto" id="nombre_producto" value="{{ aux.Nombre }}">
                            <!-- input type="hidden" name="precio_producto" id="precio_producto" value="{{ aux.precio }}"-->
                            <input type="hidden" name="imagen_producto" id="imagen_producto" value="{{ aux.imagen }}">
                            {% if user.is_authenticated %}
                            <input type="submit" style="cursor: pointer;" value="Postular" class="btn btn-primary nav-item ">
                            {% else %}
                            <a onclick="NoIniciado()" type="submit" style="cursor: pointer;" value="Carrito" class="btn btn-primary">Carrito </a>
                            {% endif %}
                            <a href="{% url 'team' %}" type="submit" style="cursor: pointer;"
                                class="btn btn-primary">Ver mas</a>


                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>



<!-- final productos populares-->


<!-- Testimonial Start -->
<!-- div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Comentarios</h5>
            <h1 class="mb-5">ComentariPapitos!!!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>HOLA AMIGOS, La bandana que le compre a mi perro le queda entero ficha, tambien la identificacion que
                    le compre, excelente servicio</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'core/img/testimonial-1.jpg '%}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Manuela Soto</h5>

                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Le compre la correa a mi perro, al final la termine ocupando mas yo, una lastima la verdad, porque es
                    de muy buena calidad, ya falta que me compre una bandana para mi tambien.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'core/img/testimonial-2.jpg '%}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Johan Espinoza</h5>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Finalmente puedo ir a comprar con mi perro gracias a la Correa que le compre en PerriPapitos, sigan
                    ayudando a esta pagina por favor!!!</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'core/img/testimonial-3.jpg '%}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Ignacio Martin</h5>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Pensaba que no iba a necesitar comprarle una correa a mi perro, hasta que se la compre, muchas
                    gracias!</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'core/img/testimonial-4.jpg '%}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Ignacia Rifo</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->
<!-- Testimonial End -->


{% endblock %}