{% extends 'core/base.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

{% block contenido %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Suscríbete</h1>
  </div>
</div>
<div class="container">
  <div class="p-3 pb-md-4 mx-auto text-center">
    {% if suscripcionUsuario == none %}
    <p class="fs-5 text-muted">Bienvenido a la sección de Suscripciones, aquí puedes elegir el tipo de suscripción que desees tener. Recuerda que cada suscripción te otorga diferentes beneficios y estarás ayudando a los PerriPapitos.</p>
    {% endif %}
    {% if suscripcionUsuario != none  %}
    <p class="fs-5 text-muted">Bienvenido a la sección de Suscripciones, Actualmente te encuentras suscrito en {{ suscripcionUsuario.suscripcion.nombre }}.<br> 
      Aqui puedes decidir si cancelar la suscripcion para luego cambiarte de nivel o solo cancelarlo</p>

    {% endif %}
  </div>
  {% if suscripcionUsuario == none %}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-secondary">
        <div class="card-header py-3 bg-secondary">
          <h4 class="my-0 fw-normal">{{primer_nivel.nombre}}</h4>
        </div>
        <a onclick="ComprarSuscripcion({{ primer_nivel.id }})" type="button" class="card-body btn btn-lg btn-outline-secondary">
          <h1 class="card-title pricing-card-title">${{primer_nivel.precio}}<small class="text-muted fw-light"></small></h1>
          <p class="text-muted">Descuento: 3%</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">{{segundo_nivel.nombre}}</h4>
        </div>
        <a onclick="ComprarSuscripcion({{ segundo_nivel.id }})" type="button" class="card-body btn btn-lg btn-outline-primary">
          <h1 class="card-title pricing-card-title">${{segundo_nivel.precio}}<small class="text-muted fw-light"></small></h1>
          <p class="text-muted">Descuento: 5%</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-info">
        <div class="card-header py-3 bg-info text-white border-info">
          <h4 class="my-0 fw-normal">{{tercer_nivel.nombre}}</h4>
        </div>
        <a onclick="ComprarSuscripcion({{ tercer_nivel.id }})" type="button" class="card-body btn btn-lg btn-outline-info">
          <h1 class="card-title pricing-card-title">${{tercer_nivel.precio}}<small class="text-muted fw-light"></small></h1>
          <p class="text-muted">Descuento: 10%</p>
        </a>
      </div>
    </div>
  </div>
  {% elif suscripcionUsuario.suscripcion.nombre == primer_nivel.nombre %}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center align-items-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-oro">
        <div class="card-header py-3 bg-secondary">
          <h4 class="my-0 fw-normal">{{primer_nivel.nombre}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{primer_nivel.precio}}<small class="text-muted fw-light"></small></h1>
          <p class="text-muted">Descuento: 3%</p>
          <div class="btn-group">
            <a onclick="AnularSuscripcion({{ suscripcionUsuario.id }})" type="button" class="w-100 btn btn-lg btn-danger mt-4">Cancelar</a> 
          </div>
        </div>
      </div>
    </div>
  </div>

{% elif suscripcionUsuario.suscripcion.nombre == segundo_nivel.nombre %}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center align-items-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-oro">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">{{segundo_nivel.nombre}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{segundo_nivel.precio}}<small class="text-muted fw-light"></small></h1>
          <p class="text-muted">Descuento: 5%</p>
          <div class="btn-group">
            <a onclick="AnularSuscripcion({{ suscripcionUsuario.id }})" type="button" class="w-100 btn btn-lg btn-danger mt-4">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% elif suscripcionUsuario.suscripcion.nombre == tercer_nivel.nombre %}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center align-items-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-info">
        <div class="card-header py-3 bg-info text-white border-info">
          <h4 class="my-0 fw-normal">{{tercer_nivel.nombre}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{tercer_nivel.precio}}<small class="text-muted fw-light"></small></h1>
          <p class="text-muted">Descuento: 10%</p>
          <div class="btn-group">
            <a onclick="AnularSuscripcion({{ suscripcionUsuario.id }})" type="button" class="w-100 btn btn-lg btn-danger mt-4">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/suscripcion.js' %}"></script>
{% endblock %}